{% extends 'base.html' %} {% block content %}

<h1>Plant Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ plant.name }}</span>
        <p>Varietal: {{ plant.varietal }}</p>
        <p>Description: {{ plant.description }}</p>
        {% if plant.age > 0 %}
        <p>Age: {{ plant.age }}</p>
        {% else %}
        <p>Age: Kitten</p>
        {% endif %}
      </div>
      <div class="card-action">
        <a href="{% url 'plants_update' plant.id %}">Edit</a>
        <a href="{% url 'plants_delete' plant.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_watering' plant.id %}" method="post">
      {% csrf_token %}
      {{ watering_form.as_p }}
      <input type="submit" class="btn" value="Add Watering">
    </form>
    <br>
    {% if plant.watered > 0 %}
      <div class="card-panel teal-text center-align">{{plant.name}} has already been watered. You should check its soil in {{ plant.watered }} days.</div>
    {% else %}
      <div class="card-panel red-text center-align">{{plant.name}} might be thirsty. Check its soil!</div>
    {% endif %}
    <table class="striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Fertilizer</th>
        </tr>
      </thead>
      <tbody>
        {% for watering in plant.watering_set.all %}
        <tr>
          <td>{{watering.date}}</td>
          <td>{{watering.get_fertilizer_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<hr>
<div class="row">
  <div class="col s6">
    <h3>Fertilizers for {{ plant.name }}</h3>
    {% if plant.fertilizers.count %}
      {% for fertilizer in plant.fertilizers.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ fertilizer.quantity }} of {{ fertilizer.fertilizer }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'unassoc_fertilizer' plant.id fertilizer.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Remove</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No supplemental nutrients needed :)</h5>
    {% endif %}
  </div>
  <!-- Available Fertilizers -->
  <div class="col s6">
    <h3>Available Fertilizers</h3>
    {% if fertilizers.count %}
      {% for fertilizer in fertilizers.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ fertilizer.quantity }} of {{ fertilizer.fertilizer }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_fertilizer' plant.id fertilizer.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{plant.name}} Already Has All fertilizers Available</h5>
    {% endif %}
  </div>
</div>

<script>
  var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  var selectEl = document.getElementById('id_fertilizer');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}
